/EffClaimLand.class
/EffCreateFaction.class
/EffDisbandFaction.class
/EffInvitePlayer.class
/EffKickPlayer.class
/EffUnClaimLand.class
/EvtFactionCreateEvent.class
/EvtFactionDescriptionChangeEvent.class
/EvtFactionDisbandEvent.class
/EvtFactionNameChangeEvent.class
/ExprAlliesOfFaction.class
/ExprDescriptionOfFaction.class
/ExprEnemiesOfFaction.class
/ExprFactionAtLocation.class
/ExprFactionOfPlayer.class
/ExprFactions.class
/ExprHomeOfFaction.class
/ExprMOTDOfFaction.class
/ExprNameOfFaction.class
/ExprPlayersOfFaction.class
/ExprPowerOfFaction.class
/ExprPowerOfPlayer.class
/ExprPowerboostOfFaction.class
/ExprPowerboostOfPlayer.class
/ExprRankOfPlayer.class
/ExprRelationshipStatus.class
/ExprTitleOfPlayer.class
/ExprTrucesOfFaction.class
/FactionCreateEvent.class
/FactionDescriptionChangeEvent.class
/FactionDisbandEvent.class
/FactionNameChangeEvent.class
