/CondCheckEnabled.class
/CondIsBypassed.class
/CondOnGround.class
/EffDisableCheck.class
/EffEnableCheck.class
/EffReloadAAC.class
/EffReloadPermissionCache.class
/ExprAacPing.class
/ExprAacTps.class
/ExprHack.class
/ExprHackDescription.class
/ExprHackLastMinute.class
/ExprViolationLevel.class
