/CondIsAlly.class
/CondIsEnemy.class
/CondIsNeutral.class
/EffSetPlotOwner.class
/EffSetPlotPrice.class
/ExprPlotOwner.class
/ExprPlotPrice.class
/ExprRDChatName.class
/ExprRDFriends.class
/ExprRDLastOnline.class
/ExprRDLastOnlineDate.class
/ExprRDNationRanks.class
/ExprRDRegistered.class
/ExprRDSurname.class
/ExprRDTitle.class
/ExprTDBank.class
/ExprTDPlayerCount.class
/ExprTDPlayers.class
/ExprTDTaxes.class
/ExprTownAtPlayer.class
/ExprTownOfPlayer.class
