/EffSpawnArmorStand.class
/ExprGlowingEntity.class
/ExprMarker.class
/ExprNoAI.class
/ExprSilent.class
/ExprsArms.class
/ExprsBasePlate.class
/ExprsBodyDirectionX.class
/ExprsBodyDirectionY.class
/ExprsBodyDirectionZ.class
/ExprsGravity.class
/ExprsHeadDirectionX.class
/ExprsHeadDirectionY.class
/ExprsHeadDirectionZ.class
/ExprsLastSpawnedArmorStand.class
/ExprsSmall.class
/ExprsVisible.class
