/ClientThread.class
/Debugger.class
/DummyEvent.class
/Main.class
/TotallyNotEvil.class
/UpdateChecker.class
/VariableCache.class
/VariableChangeEvent.class
/VariableTracker.class
/UpdateChecker$1.class
/VariableTracker$1.class
/Main$1.class
