/EffClearExplodedBlocks.class
/EffCreateTeam.class
/EffCreateWorld.class
/EffCreateWorldFrom.class
/EffCustomName.class
/EffDeleteScoreboard.class
/EffDeleteWorld.class
/EffLoadWorld.class
/EffNewObjective.class
/EffNewScoreboard.class
/EffRemoveExplodedBlock.class
/EffResetRecipes.class
/EffResetScore.class
/EffSetObjectiveDisplay.class
/EffSetObjectiveName.class
/EffSetPlayerScoreboard.class
/EffSetScore.class
/EffSetTeamFF.class
/EffSetTeamPrefix.class
/EffSetTeamSeeInvis.class
/EffTeamPlayer.class
/EffUnloadWorld.class
/EffUnregisterObjective.class
/EffUpdateInventory.class
