/ExprAllParticleProjectiles.class
/ExprCurrentLocation.class
/ExprCurrentParticleProjectile.class
/ExprGravity.class
/ExprHasStopped.class
/ExprParticleCount.class
/ExprParticleData1.class
/ExprParticleData2.class
/ExprParticleSpeed.class
/ExprParticleType.class
/ExprProjectileType.class
/ExprProjectileVector.class
/ExprSimpleVector.class
/ExprStartLocation.class
/ExprTicksPerSecond.class
/ExprXOffset.class
/ExprYOffset.class
/ExprZOffset.class
