/EffAddPotionToCloud.class
/EffRemovePotionFromCloud.class
/EffSpawnAreaEffectCloud.class
/ExprEffectCloudColor.class
/ExprEffectCloudDuration.class
/ExprEffectCloudDurationOnUse.class
/ExprEffectCloudParticle.class
/ExprEffectCloudPotionEffects.class
/ExprEffectCloudRadius.class
/ExprEffectCloudRadiusOnUse.class
/ExprEffectCloudRadiusPerTick.class
/ExprEffectCloudReapplicationDelay.class
/ExprEffectCloudWaitTime.class
/ExprNewBukkitColor.class
/ExprNewPotionEffect.class
