/ServerChangeNameListener.class
/ServerChangeRegionListener.class
/ServerJoinListener.class
/ServerLeaveListener.class
/ServerMemberAddListener.class
/ServerMemberBanListener.class
/ServerMemberRemoveListener.class
/ServerMemberUnbanListener.class
