/WrapperPlayClientUpdateSign.class
/WrapperPlayClientUseEntity.class
/WrapperPlayClientUseItem.class
/WrapperPlayClientVehicleMove.class
/WrapperPlayClientWindowClick$InventoryClickType.class
/WrapperPlayClientWindowClick.class
/WrapperPlayServerAbilities.class
/WrapperPlayServerAdvancements$AdvancementDisplay.class
/WrapperPlayServerAdvancements$AdvancementProgress.class
/WrapperPlayServerAdvancements$CriterionProgress.class
/WrapperPlayServerAdvancements$FrameType.class
/WrapperPlayServerAdvancements$SerializedAdvancement.class
/WrapperPlayServerAdvancements.class
/WrapperPlayServerAnimation.class
/WrapperPlayServerAttachEntity.class
/WrapperPlayServerAutoRecipe.class
/WrapperPlayServerBed.class
/WrapperPlayServerBlockAction.class
/WrapperPlayServerBlockBreakAnimation.class
/WrapperPlayServerBlockChange.class
/WrapperPlayServerBoss$Action.class
/WrapperPlayServerBoss$BarStyle.class
/WrapperPlayServerBoss.class
/WrapperPlayServerCamera.class
/WrapperPlayServerChat.class
/WrapperPlayServerCloseWindow.class
/WrapperPlayServerCollect.class
/WrapperPlayServerCombatEvent.class
/WrapperPlayServerCommands.class
/WrapperPlayServerCustomPayload.class
/WrapperPlayServerCustomSoundEffect.class
/WrapperPlayServerEntity.class
/WrapperPlayServerEntityDestroy.class
/WrapperPlayServerEntityEffect.class
/WrapperPlayServerEntityEquipment.class
/WrapperPlayServerEntityHeadRotation.class
/WrapperPlayServerEntityLook.class
/WrapperPlayServerEntityMetadata.class
/WrapperPlayServerEntityStatus.class
/WrapperPlayServerEntityTeleport.class
/WrapperPlayServerEntityVelocity.class
/WrapperPlayServerExperience.class
/WrapperPlayServerExplosion.class
/WrapperPlayServerGameStateChange.class
/WrapperPlayServerHeldItemSlot.class
/WrapperPlayServerKeepAlive.class
/WrapperPlayServerKickDisconnect.class
/WrapperPlayServerLogin.class
/WrapperPlayServerLookAt$Anchor.class
/WrapperPlayServerLookAt.class
/WrapperPlayServerMap.class
/WrapperPlayServerMapChunk.class
/WrapperPlayServerMount.class
/WrapperPlayServerMultiBlockChange.class
/WrapperPlayServerNamedEntitySpawn.class
/WrapperPlayServerNamedSoundEffect.class
/WrapperPlayServerNbtQuery.class
/WrapperPlayServerOpenSignEditor.class
/WrapperPlayServerOpenWindow.class
/WrapperPlayServerPlayerInfo.class
/WrapperPlayServerPlayerListHeaderFooter.class
/WrapperPlayServerPosition$PlayerTeleportFlag.class
/WrapperPlayServerPosition.class
/WrapperPlayServerRecipeUpdate.class
/WrapperPlayServerRecipes$Action.class
/WrapperPlayServerRecipes.class
/WrapperPlayServerRelEntityMove.class
/WrapperPlayServerRelEntityMoveLook.class
/WrapperPlayServerRemoveEntityEffect.class
/WrapperPlayServerResourcePackSend.class
/WrapperPlayServerRespawn.class
/WrapperPlayServerScoreboardDisplayObjective.class
/WrapperPlayServerScoreboardObjective$HealthDisplay.class
/WrapperPlayServerScoreboardObjective$Mode.class
/WrapperPlayServerScoreboardObjective.class
/WrapperPlayServerScoreboardScore.class
/WrapperPlayServerScoreboardTeam$Mode.class
/WrapperPlayServerScoreboardTeam.class
/WrapperPlayServerSelectAdvancementTab.class
/WrapperPlayServerServerDifficulty.class
/WrapperPlayServerSetCooldown$ItemConverter.class
/WrapperPlayServerSetCooldown.class
/WrapperPlayServerSetSlot.class
/WrapperPlayServerSpawnEntity$ObjectTypes.class
/WrapperPlayServerSpawnEntity.class
/WrapperPlayServerSpawnEntityExperienceOrb.class
/WrapperPlayServerSpawnEntityLiving.class
/WrapperPlayServerSpawnEntityPainting.class
/WrapperPlayServerSpawnEntityWeather.class
/WrapperPlayServerSpawnPosition.class
/WrapperPlayServerStatistic.class
/WrapperPlayServerStopSound.class
/WrapperPlayServerTabComplete.class
/WrapperPlayServerTags.class
/WrapperPlayServerTileEntityData.class
/WrapperPlayServerTitle.class
/WrapperPlayServerTransaction.class
/WrapperPlayServerUnloadChunk.class
/WrapperPlayServerUpdateAttributes.class
/WrapperPlayServerUpdateHealth.class
/WrapperPlayServerUpdateTime.class
/WrapperPlayServerVehicleMove.class
/WrapperPlayServerWindowData.class
/WrapperPlayServerWindowItems.class
/WrapperPlayServerWorldBorder.class
/WrapperPlayServerWorldEvent.class
/WrapperPlayServerWorldParticles.class
/WrapperStatusClientPing.class
/WrapperStatusClientStart.class
/WrapperStatusServerPong.class
/WrapperStatusServerServerInfo.class
/AbstractPacket.class
/ChunkPacketProcessor$ChunkOffsets.class
/ChunkPacketProcessor$ChunkletProcessor.class
/ChunkPacketProcessor.class
/PacketWrapper.class
/WrapperHandshakingClientSetProtocol.class
/WrapperLoginClientCustomPayload.class
/WrapperLoginClientEncryptionBegin.class
/WrapperLoginClientStart.class
/WrapperLoginServerCustomPayload.class
/WrapperLoginServerDisconnect.class
/WrapperLoginServerEncryptionBegin.class
/WrapperLoginServerSetCompression.class
/WrapperLoginServerSuccess.class
/WrapperPlayClientAbilities.class
/WrapperPlayClientAdvancements$Status.class
/WrapperPlayClientAdvancements.class
/WrapperPlayClientArmAnimation.class
/WrapperPlayClientAutoRecipe.class
/WrapperPlayClientBeacon.class
/WrapperPlayClientBlockDig.class
/WrapperPlayClientBlockPlace.class
/WrapperPlayClientBoatMove.class
/WrapperPlayClientBookEdit.class
/WrapperPlayClientChat.class
/WrapperPlayClientClientCommand.class
/WrapperPlayClientCloseWindow.class
/WrapperPlayClientCustomPayload.class
/WrapperPlayClientEnchantItem.class
/WrapperPlayClientEntityAction.class
/WrapperPlayClientEntityNbtQuery.class
/WrapperPlayClientFlying.class
/WrapperPlayClientHeldItemSlot.class
/WrapperPlayClientItemName.class
/WrapperPlayClientKeepAlive.class
/WrapperPlayClientLook.class
/WrapperPlayClientPickItem.class
/WrapperPlayClientPosition.class
/WrapperPlayClientPositionLook.class
/WrapperPlayClientRecipeDisplayed$Status.class
/WrapperPlayClientRecipeDisplayed.class
/WrapperPlayClientResourcePackStatus.class
/WrapperPlayClientSetCommandBlock$Mode.class
/WrapperPlayClientSetCommandBlock.class
/WrapperPlayClientSetCommandMinecart.class
/WrapperPlayClientSetCreativeSlot.class
/WrapperPlayClientSettings.class
/WrapperPlayClientSpectate.class
/WrapperPlayClientSteerVehicle.class
/WrapperPlayClientStructureBlock.class
/WrapperPlayClientTeleportAccept.class
/WrapperPlayClientTileNbtQuery.class
/WrapperPlayClientTradeSelect.class
/WrapperPlayClientTransaction.class
