/RoleChangeColorListener.class
/RoleChangeHoistListener.class
/RoleChangeNameListener.class
/RoleChangeOverwrittenPermissionsListener.class
/RoleChangePermissionsListener.class
/RoleChangePositionListener.class
/RoleCreateListener.class
/RoleDeleteListener.class
