/AtLeast.class
/BungeeCord.class
/CondExample.class
/Dependency.class
/Discord.class
/DocsIgnore.class
/DontRegister.class
/EffExample.class
/ExprSimplePropertyExample.class
/ForOneVersion.class
/InfoClass.class
/InfoFrom.class
/Name.class
/OnlyFor.class
/Register.class
/SimpleUmbaskaExpression.class
/SimpleUmbaskaPropertyExpression.class
/SyntaxElement.class
/Syntaxes.class
/UmbaskaCondition.class
/UmbaskaEffect.class
/UmbaskaPropertyExpression.class
/Version.class
