/ExprClickType.class
/ExprClickTypeLegacy.class
/ExprClickedInventory.class
/ExprClickedItem.class
/ExprClickedItemLore.class
/ExprClickedItemName.class
/ExprClickedSlot.class
/ExprCursorItem.class
/ExprGetObjective.class
/ExprGetObjectiveDisplay.class
/ExprGetObjectiveType.class
/ExprGetScore.class
/ExprLastCreatedWorld.class
/ExprMaxPlayers.class
/ExprSpawnReason.class
/ExprSpawnReasonOfEntity.class
