/AnvilGUI$AnvilClickEvent.class
/AnvilGUI$AnvilClickEventHandler.class
/AnvilGUI$AnvilContainer.class
/AnvilGUI$AnvilSlot.class
/AnvilGUI.class
/BukkitEffectEnum.class
/InventoryTypes.class
/Operation.class
/ParticleEnum.class
/AnvilGUI$1.class
/ParticleEnumArea.class
