/EffMakeShootParticleProjectile.class
/EffNewParticleProjectile.class
/EffPauseInPlaceParticleProjectile.class
/EffPauseParticleProjectile.class
/EffRemoveParticleProjectile.class
/EffStartParticleProjectile.class
/EffStopParticleProjectile.class
/EffUnpauseParticleProjectile.class
