/DiscordAPI.class
/ImplDiscordAPI.class
/Javacord.class
/ImplDiscordAPI$1.class
/ImplDiscordAPI$10.class
/ImplDiscordAPI$11.class
/ImplDiscordAPI$12.class
/ImplDiscordAPI$14.class
/ImplDiscordAPI$2.class
/ImplDiscordAPI$4.class
/ImplDiscordAPI$5.class
/ImplDiscordAPI$6.class
/ImplDiscordAPI$8.class
